.version.city_contents /* version checker */
{
	color: #00001B;
	background-color: #C1E212;
}

#page
{
	z-index: 1;
	min-height: 788px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 244px;
	width: 100%;
	max-width: 320px;
	margin-left: auto;
	margin-right: auto;
}

#pu3415
{
	padding-bottom: 62px;
	width: 100%;
}

#u3415
{
	z-index: 44;
	height: 62px;
	background-color: #FCEE21;
	position: fixed;
	top: 0px;
}

#u3415-bw
{
	z-index: 44;
}

#u3423
{
	z-index: 45;
	width: 35px;
	background-color: transparent;
	position: fixed;
	top: 13px;
	left: 13px;
}

#pu3419
{
	margin-top: 48px;
	width: 100%;
}

#u3419
{
	z-index: 2;
	height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	border-radius: 100px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 31.88%;
	left: 2.19%;
	background: transparent url("../images/15698-nqcj5z-u3419-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3414-6
{
	z-index: 8;
	min-height: 89px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 61.88%;
	left: 36.57%;
	border-width: 0px 0px 2px;
}

#u9910
{
	z-index: 3;
	height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	border-radius: 100px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 31.88%;
	left: 2.19%;
	background: transparent url("../images/22313-ntseal-u9910-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3431-6
{
	z-index: 26;
	min-height: 89px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 61.88%;
	left: 36.57%;
	border-width: 0px 0px 2px;
}

#u9913
{
	z-index: 4;
	height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	border-radius: 100px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 31.88%;
	left: 2.19%;
	background: transparent url("../images/28472-nx14me-u9913-fr.png") no-repeat center center;
	background-size: cover;
}

#u3446-6
{
	z-index: 20;
	min-height: 89px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 61.88%;
	left: 36.57%;
	border-width: 0px 0px 2px;
}

#u9916
{
	z-index: 6;
	height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	border-radius: 100px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 31.88%;
	left: 2.19%;
	background: transparent url("../images/43339-o3pyng-u9916-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3437-6
{
	z-index: 38;
	min-height: 89px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 61.88%;
	left: 36.57%;
	border-width: 0px 0px 2px;
}

#u9946
{
	z-index: 5;
	height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	border-radius: 100px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 31.88%;
	left: 2.19%;
	background: transparent url("../images/43339-o3pyng%204-u9946-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3470-6
{
	z-index: 14;
	min-height: 89px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 61.88%;
	left: 36.57%;
	border-width: 0px 0px 2px;
}

#pu9910,#pu9913,#pu9916,#pu9946,#pu9943
{
	margin-top: 12px;
	width: 100%;
}

#u9943
{
	z-index: 7;
	height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	border-radius: 100px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 31.88%;
	left: 2.19%;
	background: transparent url("../images/43339-o3pyng%202-u9943-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3464-6
{
	z-index: 32;
	min-height: 89px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 61.88%;
	left: 36.57%;
	border-width: 0px 0px 2px;
}

#u3414-4,#u3431-4,#u3446-4,#u3437-4,#u3470-4,#u3464-4
{
	color: #7F7F7F;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

