.version.index /* version checker */
{
	color: #00000B;
	background-color: #8017BD;
}

#page
{
	z-index: 1;
	min-height: 375.9565656565651px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 62px;
	padding-bottom: 0px;
	width: 100%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#u11346-6
{
	z-index: 8;
	min-height: 148px;
	background-color: transparent;
	padding: 20px;
	line-height: 43px;
	text-align: center;
	font-size: 36px;
	font-family: roboto, sans-serif;
	font-weight: 200;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u11346-6-bw
{
	z-index: 8;
	min-height: 148px;
}

#u11045
{
	z-index: 2;
	width: 229px;
	background-color: transparent;
	margin-left: 295px;
	position: relative;
}

#u11239
{
	z-index: 4;
	width: 583px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-left: 13.5%;
}

#u11229
{
	z-index: 5;
	width: 583px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u11044
{
	z-index: 7;
	width: 404px;
	min-height: 701px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 177px;
	left: 15.44%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

