.version.timeline_2 /* version checker */
{
	color: #000006;
	background-color: #8F7431;
}

#page
{
	z-index: 1;
	min-height: 1412px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 138px;
	width: 100%;
	max-width: 320px;
	margin-left: auto;
	margin-right: auto;
}

#pu3266
{
	padding-bottom: 48px;
	margin-right: -10000px;
	margin-top: 452px;
	width: 100%;
}

#u3266
{
	z-index: 174;
	height: 48px;
	position: fixed;
	bottom: 0px;
}

#u3266-bw
{
	z-index: 174;
}

#u5554-wrapper
{
	position: fixed;
	bottom: 6px;
	z-index: 177;
	left: 50%;
	margin-left: -140px;
	width: 12.19%;
	max-width: 39px;
}

#pu10595-4
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 63px;
	width: 34.38%;
	margin-left: 10.63%;
}

#u10595-4
{
	z-index: 3;
	min-height: 12px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 14px;
	text-align: right;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
	width: 49.1%;
	margin-left: 50.91%;
}

#u10640
{
	z-index: 156;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
	width: 56.37%;
	margin-left: 43.64%;
}

#u10641
{
	z-index: 157;
	display: block;
	width: 103.23%;
}

#u10604-4
{
	z-index: 39;
	min-height: 20px;
	background-color: transparent;
	color: #000000;
	text-align: right;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 5px;
	position: relative;
	width: 61.82%;
	margin-left: 38.19%;
}

#u10598-4
{
	z-index: 15;
	min-height: 12px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 14px;
	text-align: right;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 4px;
	position: relative;
	width: 100%;
}

#u10601-4
{
	z-index: 27;
	min-height: 12px;
	background-color: transparent;
	color: #29ABE2;
	line-height: 14px;
	text-align: right;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
	width: 100%;
}

#u10596-4
{
	z-index: 7;
	min-height: 12px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 14px;
	text-align: right;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 199px;
	position: relative;
	width: 49.1%;
	margin-left: 50.91%;
}

#u10648
{
	z-index: 164;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
	width: 51.82%;
	margin-left: 48.19%;
}

#u10649
{
	z-index: 165;
	display: block;
	width: 100%;
}

#u10605-4
{
	z-index: 43;
	min-height: 20px;
	background-color: transparent;
	color: #000000;
	text-align: right;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 4px;
	position: relative;
	width: 61.82%;
	margin-left: 38.19%;
}

#u10599-4
{
	z-index: 19;
	min-height: 12px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 14px;
	text-align: right;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 5px;
	position: relative;
	width: 95.46%;
	margin-left: 4.55%;
}

#u10602-4
{
	z-index: 31;
	min-height: 12px;
	background-color: transparent;
	color: #29ABE2;
	line-height: 14px;
	text-align: right;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
	width: 95.46%;
	margin-left: 4.55%;
}

#u10610-4
{
	z-index: 54;
	min-height: 12px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 14px;
	text-align: right;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 86px;
	position: relative;
	width: 49.1%;
	margin-left: 50.91%;
}

#u10646
{
	z-index: 162;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
	width: 51.82%;
	margin-left: 48.19%;
}

#u10647
{
	z-index: 163;
	display: block;
	width: 100%;
}

#u10613-4
{
	z-index: 66;
	min-height: 20px;
	background-color: transparent;
	color: #000000;
	text-align: right;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 5px;
	position: relative;
	width: 61.82%;
	margin-left: 38.19%;
}

#u10611-4
{
	z-index: 58;
	min-height: 12px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 14px;
	text-align: right;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 5px;
	position: relative;
	width: 95.46%;
	margin-left: 4.55%;
}

#u10612-4
{
	z-index: 62;
	min-height: 12px;
	background-color: transparent;
	color: #29ABE2;
	line-height: 14px;
	text-align: right;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 95.46%;
	margin-left: 4.55%;
}

#u10615-4
{
	z-index: 71;
	min-height: 12px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 14px;
	text-align: right;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 116px;
	position: relative;
	width: 49.1%;
	margin-left: 50.91%;
}

#u10652
{
	z-index: 168;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
	width: 51.82%;
	margin-left: 48.19%;
}

#u10653
{
	z-index: 169;
	display: block;
	width: 100%;
}

#u10618-4
{
	z-index: 83;
	min-height: 20px;
	background-color: transparent;
	color: #000000;
	text-align: right;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 5px;
	position: relative;
	width: 61.82%;
	margin-left: 38.19%;
}

#u10616-4
{
	z-index: 75;
	min-height: 12px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 14px;
	text-align: right;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 4px;
	position: relative;
	width: 95.46%;
	margin-left: 4.55%;
}

#u10617-4
{
	z-index: 79;
	min-height: 12px;
	background-color: transparent;
	color: #29ABE2;
	line-height: 14px;
	text-align: right;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
	width: 95.46%;
	margin-left: 4.55%;
}

#u10620-4
{
	z-index: 88;
	min-height: 12px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 14px;
	text-align: right;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 149px;
	position: relative;
	width: 49.1%;
	margin-left: 50.91%;
}

#u10656
{
	z-index: 172;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
	width: 51.82%;
	margin-left: 48.19%;
}

#u10657
{
	z-index: 173;
	display: block;
	width: 100%;
}

#u10623-4
{
	z-index: 100;
	min-height: 20px;
	background-color: transparent;
	color: #000000;
	text-align: right;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 5px;
	position: relative;
	width: 61.82%;
	margin-left: 38.19%;
}

#u10621-4
{
	z-index: 92;
	min-height: 12px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 14px;
	text-align: right;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 4px;
	position: relative;
	width: 95.46%;
	margin-left: 4.55%;
}

#u10622-4
{
	z-index: 96;
	min-height: 12px;
	background-color: transparent;
	color: #29ABE2;
	line-height: 14px;
	text-align: right;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
	width: 95.46%;
	margin-left: 4.55%;
}

#u5544-wrapper
{
	position: fixed;
	bottom: 6px;
	z-index: 175;
	left: 50%;
	margin-left: -59px;
	width: 12.19%;
	max-width: 39px;
}

#pu10594
{
	margin-right: -10000px;
	margin-top: 59px;
	width: 4.07%;
	margin-left: 47.82%;
}

#u10594
{
	z-index: 2;
	height: 1352px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	width: 7.7%;
	left: 46.16%;
}

#u10607
{
	z-index: 51;
	height: 13px;
	background-color: #29ABE2;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 100%;
}

#u10608
{
	z-index: 52;
	height: 13px;
	background-color: #29ABE2;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 153px;
	width: 100%;
}

#u10609
{
	z-index: 53;
	height: 13px;
	background-color: #29ABE2;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	width: 100%;
}

#u10614
{
	z-index: 70;
	height: 13px;
	background-color: #29ABE2;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 555px;
	width: 100%;
}

#u10619
{
	z-index: 87;
	height: 13px;
	background-color: #29ABE2;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 804px;
	width: 100%;
}

#u10624
{
	z-index: 104;
	height: 13px;
	background-color: #29ABE2;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1086px;
	width: 100%;
}

#u10629
{
	z-index: 121;
	height: 13px;
	background-color: #29ABE2;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 524px;
	width: 100%;
}

#u10634
{
	z-index: 138;
	height: 13px;
	background-color: #29ABE2;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 733px;
	width: 100%;
}

#u10639
{
	z-index: 155;
	height: 13px;
	background-color: #29ABE2;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 971px;
	width: 100%;
}

#pu10597-4
{
	margin-right: -10000px;
	margin-top: 212px;
	width: 32.82%;
	margin-left: 55.01%;
}

#u10597-4
{
	z-index: 11;
	min-height: 12px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
	width: 51.43%;
}

#u10642
{
	z-index: 158;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
	width: 39.05%;
}

#u10643
{
	z-index: 159;
	display: block;
	margin-bottom: 2.4390243902439024%;
	width: 100%;
}

#u10606-4
{
	z-index: 47;
	min-height: 20px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 5px;
	position: relative;
	width: 96.2%;
}

#u10600-4
{
	z-index: 23;
	min-height: 12px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 5px;
	position: relative;
	width: 100%;
}

#u10603-4
{
	z-index: 35;
	min-height: 12px;
	background-color: transparent;
	color: #29ABE2;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
	width: 100%;
}

#u5564-wrapper
{
	position: fixed;
	bottom: 6px;
	z-index: 179;
	left: 50%;
	margin-left: 19px;
	width: 12.19%;
	max-width: 39px;
}

#pu10625-4
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 583px;
	width: 32.82%;
	margin-left: 55.01%;
}

#u10625-4
{
	z-index: 105;
	min-height: 12px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
	width: 51.43%;
}

#u10644
{
	z-index: 160;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
	width: 54.29%;
}

#u10645
{
	z-index: 161;
	display: block;
	width: 100%;
}

#u10628-4
{
	z-index: 117;
	min-height: 20px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 5px;
	position: relative;
	width: 77.15%;
}

#u10626-4
{
	z-index: 109;
	min-height: 12px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 5px;
	position: relative;
	width: 100%;
}

#u10627-4
{
	z-index: 113;
	min-height: 12px;
	background-color: transparent;
	color: #29ABE2;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
	width: 100%;
}

#u10630-4
{
	z-index: 122;
	min-height: 12px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 76px;
	position: relative;
	width: 51.43%;
}

#u10650
{
	z-index: 166;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
	width: 56.2%;
}

#u10651
{
	z-index: 167;
	display: block;
	width: 100%;
}

#u10633-4
{
	z-index: 134;
	min-height: 20px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 2px;
	position: relative;
	width: 64.77%;
}

#u10631-4
{
	z-index: 126;
	min-height: 12px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 5px;
	position: relative;
	width: 100%;
}

#u10632-4
{
	z-index: 130;
	min-height: 12px;
	background-color: transparent;
	color: #29ABE2;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
	width: 100%;
}

#u10635-4
{
	z-index: 139;
	min-height: 12px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 105px;
	position: relative;
	width: 51.43%;
}

#u10654
{
	z-index: 170;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
	width: 54.29%;
}

#u10655
{
	z-index: 171;
	display: block;
	width: 100%;
}

#u10638-4
{
	z-index: 151;
	min-height: 20px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 4px;
	position: relative;
	width: 64.77%;
}

#u10636-4
{
	z-index: 143;
	min-height: 12px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 5px;
	position: relative;
	width: 100%;
}

#u10637-4
{
	z-index: 147;
	min-height: 12px;
	background-color: transparent;
	color: #29ABE2;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
	width: 100%;
}

#u5554,#u5544,#u5564,#u5574
{
	position: relative;
	left: -50%;
	margin-left: 19.5px;
	width: 100%;
	max-width: 39px;
}

#u5574-wrapper
{
	position: fixed;
	bottom: 6px;
	z-index: 181;
	left: 50%;
	margin-left: 101px;
	width: 12.19%;
	max-width: 39px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

#u5554_img,#u5544_img,#u5564_img,#u5574_img
{
	width: 100%;
}

